main .scroll-down {
  height: 50px;
  position: absolute;
  bottom: 60px;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  main .scroll-down {
    display: none;
  }
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  z-index: 9999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loading .loading__text {
  font-size: 24px;
  font-weight: 600;
}
@media screen and (max-width: 768px) {
  .loading {
    width: 100vw;
  }
  .loading .loading__text {
    font-size: 18px;
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 5rem;
}
header .logo {
  display: block;
  cursor: pointer;
  width: 200px;
}
header .logo:hover nav {
  display: block;
}
header .right-menu {
  padding: 1rem;
  cursor: pointer;
}

.hamburger {
  width: 40px;
}

nav {
  height: 100vh;
  background-color: #011a19;
  position: absolute;
  right: -350px;
  transition: transform 200ms;
  display: none;
  width: 22rem;
}
nav.show {
  display: block;
}
nav.move {
  transform: translateX(-350px);
}
nav.move-back {
  transform: translateX(0);
}
nav .nav__header .right-menu {
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}
@media screen and (max-width: 768px) {
  nav .nav__header .right-menu img {
    height: 40px;
  }
}
nav .nav__body {
  padding: 3rem 0;
}
nav .nav__body .nav__body-navigation {
  display: block;
  font-size: 28px;
  padding: 1rem 2rem;
  transition: all 200ms;
}
nav .nav__body .nav__body-navigation:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
nav .nav__footer {
  height: 50px;
  position: absolute;
  bottom: -25px;
  padding: 0 10px;
  color: rgba(255, 255, 255, 0.5);
  width: 100%;
  font-size: 12px;
}
@media screen and (max-width: 768px) {
  nav {
    width: 15rem;
  }
  nav nav.move {
    transform: translateX(0);
  }
}

main .welcome {
  padding: 0 4rem;
  min-height: 500px;
  margin: 1.5rem auto;
  max-width: 90%;
  background-image: url("/images/welcome-bg.jpg");
  background-repeat: repeat;
  background-size: cover;
  background-position: 200px -180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main .welcome h1,
main .welcome h2 {
  font-size: 40px;
  font-weight: 600;
  margin: 0;
}
@media screen and (max-width: 768px) {
  main .welcome {
    min-height: 200px;
    padding: 0 1.5rem;
    background-repeat: repeat;
    background-position: 90px -5px;
  }
  main .welcome h1,
main .welcome h2 {
    font-size: 1rem;
  }
}

main .about {
  padding: 5rem 0;
  min-height: 100vh;
}
@media screen and (max-width: 768px) {
  main .about {
    padding: 1rem 0;
    min-height: 70vh;
  }
}
main .about .header h1 {
  font-size: 48px;
  text-align: center;
  margin-bottom: 0;
}
main .about .header .subline {
  width: 200px;
  height: 4px;
  background-color: #fff;
  border-radius: 8px;
}
@media screen and (max-width: 768px) {
  main .about .header h1 {
    font-size: 24px;
  }
  main .about .header .subline {
    width: 100px;
  }
}
main .about .body {
  display: flex;
  justify-content: space-between;
  padding: 0 5rem;
  gap: 3rem;
}
@media screen and (max-width: 768px) {
  main .about .body {
    flex-direction: column;
    padding: 0 1rem;
    gap: 1rem;
  }
}
main .about .body .left {
  width: 500px;
  font-size: 24px;
  font-weight: 700;
  margin: auto 0;
}
@media screen and (max-width: 768px) {
  main .about .body .left {
    width: 100%;
    font-size: 16px;
    text-align: center;
  }
}
main .about .body .right {
  flex: 1;
}
main .about .body .right h1 {
  text-align: center;
}
main .about .body .right .tools {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
main .about .body .right .tools .tool {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
main .about .body .right .tools .tool .name {
  text-align: center;
  font-weight: 600;
}
main .about .body .right .tools .tool img {
  height: 50px;
}
@media screen and (max-width: 768px) {
  main .about .body .right .tools {
    grid-template-columns: repeat(2, 1fr);
  }
  main .about .body .right .tools .tool:last-of-type {
    display: none;
  }
}

.projects {
  min-height: 100vh;
  padding: 2rem 10rem;
}
@media screen and (max-width: 768px) {
  .projects {
    padding: 1rem;
  }
}
.projects .header {
  margin-bottom: 3rem;
}
.projects .header h1 {
  font-size: 48px;
  text-align: center;
  margin-bottom: 0;
}
.projects .header .subline {
  width: 200px;
  height: 4px;
  background-color: #fff;
  border-radius: 8px;
}
@media screen and (max-width: 768px) {
  .projects .header h1 {
    font-size: 24px;
  }
  .projects .header .subline {
    width: 100px;
  }
}
@media screen and (max-width: 768px) {
  .projects .body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.projects .body .project {
  display: flex;
  margin-bottom: 2rem;
}
@media screen and (max-width: 768px) {
  .projects .body .project {
    flex-direction: column;
    margin-bottom: 1rem;
  }
}
.projects .body .project .left {
  transition: all 300ms;
  position: relative;
  margin-right: -4rem;
}
.projects .body .project .left img {
  height: 300px;
  border-radius: 7px;
}
.projects .body .project .left:hover a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.projects .body .project .left:hover .filter {
  opacity: 1;
}
.projects .body .project .left a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  font-size: 20px;
  font-weight: 700;
  z-index: 2;
}
.projects .body .project .left .filter {
  border-radius: 7px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 3px);
  transition: all 300ms ease-in-out;
  opacity: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
}
@media screen and (max-width: 768px) {
  .projects .body .project .left {
    margin-right: 0;
  }
  .projects .body .project .left img {
    height: 170px;
  }
  .projects .body .project .left a {
    height: 170px;
  }
  .projects .body .project .left .filter {
    height: 170px;
    width: 334px;
  }
}
.projects .body .project .right {
  background-color: #011d1c;
  height: 180px;
  margin-top: 6rem;
  padding: 1rem 2rem;
  z-index: 3;
  border-radius: 10px;
  box-shadow: 9.4px 9.4px 42px -15px rgba(0, 0, 0, 0.09), 17.1px 17.1px 40.6px -15px rgba(0, 0, 0, 0.13), 25.1px 25.1px 36.4px -15px rgba(0, 0, 0, 0.144), 39.6px 39.6px 37.7px -15px rgba(0, 0, 0, 0.15), 100px 100px 80px -15px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 768px) {
  .projects .body .project .right {
    padding: 1rem;
    margin-top: -2rem;
    margin-left: 1rem;
    height: 120px;
    width: 330px;
    min-width: none;
  }
  .projects .body .project .right h1 {
    font-size: 16px;
    margin-top: 0;
  }
  .projects .body .project .right p {
    font-size: 12px;
  }
  .projects .body .project .right a {
    font-size: 12px;
  }
}
.projects .body .project .right a {
  font-weight: 600;
  margin-right: 10px;
}
.projects .body .project .right a:hover {
  text-decoration: underline;
}

main .contact {
  min-height: 100vh;
  padding: 4rem 0;
}
main .contact .header {
  margin-bottom: 3rem;
}
main .contact .header h1 {
  font-size: 48px;
  text-align: center;
  margin-bottom: 0;
}
main .contact .header .subline {
  width: 200px;
  height: 4px;
  background-color: #fff;
  border-radius: 8px;
}
main .contact .header h2 {
  font-size: 30px;
  text-align: center;
  margin-top: 1rem;
}
@media screen and (max-width: 768px) {
  main .contact .header {
    margin-bottom: 0;
  }
  main .contact .header h1 {
    font-size: 36px;
  }
  main .contact .header h2 {
    font-size: 24px;
  }
}
main .contact .body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
main .contact .body .left a {
  display: block;
  text-align: center;
  margin: 50px 0;
}
main .contact .body .left a img {
  height: 50px;
  transition: all 200ms;
}
main .contact .body .left a img:hover {
  opacity: 0.8;
}
@media screen and (max-width: 768px) {
  main .contact .body .left a img {
    height: 30px;
  }
}
main .contact .body .right {
  width: 70%;
}
main .contact .body .right label {
  display: block;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  margin: 15px 0;
}
main .contact .body .right input,
main .contact .body .right textarea {
  width: 100%;
  height: 30px;
  background-color: #011d1c;
  border: 0;
  color: #fff;
  font-family: Italiana, sans-serif;
  font-weight: 600;
  font-size: 18px;
  padding-left: 10px;
}
main .contact .body .right textarea {
  height: 100px;
}
main .contact .body .right button {
  display: block;
  cursor: pointer;
  width: 200px;
  height: 35px;
  margin: 15px auto 0;
  background-color: #425a4f;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  border: 0;
  transition: all 200ms;
}
main .contact .body .right button:hover {
  transform: scale(1.1);
  background-color: #022927;
  border: 2px solid #425a4f;
}
@media screen and (max-width: 768px) {
  main .contact .body .right {
    width: 100%;
  }
  main .contact .body .right input,
main .contact .body .right textarea {
    height: 25px;
  }
  main .contact .body .right textarea {
    height: 80px;
  }
  main .contact .body .right button {
    width: 150px;
    height: 30px;
    font-size: 14px;
  }
}
@media screen and (max-width: 768px) {
  main .contact .body {
    grid-template-columns: 1fr;
  }
  main .contact .body .left {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  main .contact .body .right {
    width: 80%;
    margin: 0 auto;
  }
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: Italiana, sans-serif;
}

html,
body {
  overflow-x: hidden;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #022927;
  font-family: Italiana, sans-serif;
  width: 100vw;
  height: 100%;
  scroll-behavior: smooth;
  color: white;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #fff;
}