main .scroll-down {
  height: 50px;
  position: absolute;
  bottom: 60px;
  cursor: pointer;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  z-index: 9999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loading .loading__text {
  font-size: 24px;
  font-weight: 600;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 5rem;
}
header .logo {
  display: block;
  cursor: pointer;
  width: 200px;
}
header .right-menu {
  padding: 1rem;
  cursor: pointer;
}

.hamburger {
  width: 40px;
}

nav {
  height: 100vh;
  background-color: #011a19;
  width: 300px;
  position: absolute;
  right: -350px;
  transition: transform 200ms;
}
nav.show {
  transform: translateX(-350px);
}
nav .nav__header .right-menu {
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}
nav .nav__body {
  padding: 3rem 0;
}
nav .nav__body .nav__body-navigation {
  display: block;
  font-size: 28px;
  padding: 1rem 2rem;
  transition: all 200ms;
}
nav .nav__body .nav__body-navigation:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
nav .nav__footer {
  height: 50px;
  position: absolute;
  bottom: -25px;
  padding: 0 10px;
  color: rgba(255, 255, 255, 0.5);
  width: 100%;
  font-size: 12px;
}

main .welcome {
  padding: 0 4rem;
  min-height: 500px;
  margin: 1.5rem auto;
  max-width: 90%;
  background-image: url("/images/welcome-bg.jpg");
  background-repeat: repeat;
  background-size: cover;
  background-position: 200px -180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main .welcome h1,
main .welcome h2 {
  font-size: 40px;
  font-weight: 600;
  margin: 0;
}

main .about {
  padding: 5rem 0;
  min-height: 100vh;
}
main .about .header h1 {
  font-size: 48px;
  text-align: center;
  margin-bottom: 0;
}
main .about .header .subline {
  width: 200px;
  height: 4px;
  background-color: #fff;
  border-radius: 8px;
}
main .about .body {
  display: flex;
  justify-content: space-between;
  padding: 0 5rem;
  gap: 3rem;
}
main .about .body .left {
  width: 500px;
  font-size: 24px;
  font-weight: 700;
  margin: auto 0;
}
main .about .body .right {
  flex: 1;
}
main .about .body .right h1 {
  text-align: center;
}
main .about .body .right .tools {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
main .about .body .right .tools .tool {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
main .about .body .right .tools .tool .name {
  text-align: center;
  font-weight: 600;
}
main .about .body .right .tools .tool img {
  height: 50px;
}

.projects {
  min-height: 100vh;
  padding: 2rem 10rem;
}
.projects .header {
  margin-bottom: 3rem;
}
.projects .header h1 {
  font-size: 48px;
  text-align: center;
  margin-bottom: 0;
}
.projects .header .subline {
  width: 200px;
  height: 4px;
  background-color: #fff;
  border-radius: 8px;
}
.projects .body .project {
  display: flex;
  margin-bottom: 2rem;
}
.projects .body .project .left {
  transition: all 300ms;
  position: relative;
  margin-right: -4rem;
}
.projects .body .project .left img {
  height: 300px;
  border-radius: 7px;
}
.projects .body .project .left:hover a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.projects .body .project .left:hover .filter {
  opacity: 1;
}
.projects .body .project .left a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  font-size: 20px;
  font-weight: 700;
  z-index: 2;
}
.projects .body .project .left .filter {
  border-radius: 7px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 3px);
  transition: all 300ms ease-in-out;
  opacity: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
}
.projects .body .project .right {
  background-color: #011d1c;
  height: 180px;
  margin-top: 6rem;
  padding: 1rem 2rem;
  z-index: 3;
  border-radius: 10px;
  box-shadow: 9.4px 9.4px 42px -15px rgba(0, 0, 0, 0.09), 17.1px 17.1px 40.6px -15px rgba(0, 0, 0, 0.13), 25.1px 25.1px 36.4px -15px rgba(0, 0, 0, 0.144), 39.6px 39.6px 37.7px -15px rgba(0, 0, 0, 0.15), 100px 100px 80px -15px rgba(0, 0, 0, 0.2);
}
.projects .body .project .right a {
  font-weight: 600;
  margin-right: 10px;
}
.projects .body .project .right a:hover {
  text-decoration: underline;
}

main .contact {
  min-height: 100vh;
}
main .contact .header {
  margin-bottom: 3rem;
}
main .contact .header h1 {
  font-size: 48px;
  text-align: center;
  margin-bottom: 0;
}
main .contact .header .subline {
  width: 200px;
  height: 4px;
  background-color: #fff;
  border-radius: 8px;
}
main .contact .header h2 {
  font-size: 30px;
  text-align: center;
  margin-top: 1rem;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  width: 100vw;
  height: 100%;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #022927;
  font-family: Italiana, sans-serif;
  width: 100vw;
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  color: white;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #fff;
}