main {
    .about {
        padding: 5rem 0;
        min-height: 100vh;
        .header {
            h1 {
                font-size: 48px;
                text-align: center;
                margin-bottom: 0;
            }
            .subline {
                width: 200px;
                height: 4px;
                background-color: #fff;
                border-radius: 8px;
            }
        }
        .body {
            display: flex;
            justify-content: space-between;
            padding: 0 5rem;
            gap: 3rem;
            .left {
                width: 500px;
                font-size: 24px;
                font-weight: 700;
                margin: auto 0;
            }
            .right {
                flex: 1;
                h1 {
                    // font-size: 32px;
                    text-align: center;
                }
                .tools {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    user-select: none;
                    .tool {
                        display: flex;
                        flex-direction: column;
                        padding: 1rem;
                        .name {
                            text-align: center;
                            font-weight: 600;
                        }
                        img {
                            height: 50px;
                        }
                    }
                }
            }
        }
    }
}
