.hamburger {
    width: 40px;
}
nav {
    height: 100vh;
    background-color: darken($base-color, 3);
    position: absolute;
    right: -350px;
    transition: transform 200ms;
    display: none;
    width: 22rem;
    &.show {
        display: block;
    }
    &.move {
        transform: translateX(-350px);
    }
    &.move-back {
        transform: translateX(0);
    }
    .nav__header {
        .right-menu {
            cursor: pointer;
            display: flex;
            justify-content: flex-end;
            padding: 1rem;
            @media screen and (max-width: 768px) {
                img {
                    height: 40px;
                }
            }
        }
    }
    .nav__body {
        padding: 3rem 0;
        .nav__body-navigation {
            display: block;
            font-size: 28px;
            padding: 1rem 2rem;
            transition: all 200ms;
            &:hover {
                background-color: rgba($color: #fff, $alpha: 0.1);
            }
        }
    }
    .nav__footer {
        height: 50px;
        position: absolute;
        bottom: -25px;
        padding: 0 10px;
        color: rgba($color: #fff, $alpha: 0.5);
        width: 100%;
        font-size: 12px;
    }
    @media screen and (max-width: 768px) {
        width: 15rem;
        nav.move {
            transform: translateX(0);
        }
    }
}
