main {
    .scroll-down {
        height: 50px;
        position: absolute;
        bottom: 60px;
        cursor: pointer;
        @media screen and (max-width: 768px) {
            display: none;
        }
    }
}
