@import 'variables';
@import 'scroll-down';
@import 'loading';
@import 'header';
@import 'navbar';
@import 'welcome';
@import 'about';
@import 'projects';
@import 'contact';
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    width: 100vw;
    height: 100%;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: $base-color;
    font-family: Italiana, sans-serif;
    width: 100vw;
    height: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    color: white;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    color: #fff;
}
